<div class="mx-5 overflow-hidden">
    <div class="py-8">
        <div>
            <h2 class="text-2xl text-center font-semibold leading-tight">Results ({{ results|length }})</h2>
        </div>
        <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
            <div class="inline-block min-w-full rounded-lg overflow-auto">
                <table class="min-w-full leading-normal table-results table-auto">
                    <thead>
                    <tr>
                        <th class="no-sort col-head ">
                            Actions
                        </th>
                        {% for data in metas["record"] %}
                            <th class="col-head ">
                                {{ data["label"] }}
                            </th>
                        {% endfor %}
                        <th class="col-head ">
                            Sequence order
                        </th>
                        {% for data in metas["production"] %}
                            <th class="col-head ">
                                {{ data["label"] }}
                            </th>
                        {% endfor %}
                        {% for data in metas["speaker"] %}
                            <th class="col-head ">
                                {{ data["label"] }}
                            </th>
                        {% endfor %}
                        <th class="col-head ">
                            Audio
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in results %}
                        {% include 'one_record.twig' with {'data': data, 'metas':metas} %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
