# IDE
.idea/*
.idea/

# Folders
logs/nginx/*
data/mysql_dump/*

# Test folder
config/nginx/tests
config/php/tests
config/ssl/tests

# Dotenv
.env
.env.*
!.env.example

# Node modules
app/common/node_modules
node_modules/

# IDE
.idea

# Save empty gitkeep file
!.gitkeep

# Logs
*.log

# Original app
app/origin

*bundle.js.LICENSE.txt

