<div class="container">
    <div class="content-template-2">
        <div data-aos="fade-up" data-aos-delay="200" class="cover-image bg-cover bg-no-repeat bg-center relative"
             style="background-image: url('{{ projectURL }}/{{ projectSlug }}/assets/img/{{ content['image'] }}')">
        </div>
        <div data-aos="fade-up" data-aos-delay="400" class="w-full bg-white p-20 mb-8">
            {{ content['content']|raw }}
        </div>
    </div>
</div>
