<div class="container">
    <div class="flex">
        <div class="w-full bg-white p-20 my-8" data-aos="fade-up" data-aos-delay="300">
            {{ content['content']|raw }}
        </div>
    </div>
</div>
