
    <!-- Form Gestion de la base -->
    <div class="flex flex-col px-4  ">
        <div class='  '>

            <!-- Table -->
            <table class='mx-auto  w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 '>
                <thead class="bg-gray-50">
                    <tr class="text-gray-600 text-left">
                        <th class="font-semibold text-sm  px-6 py-4">
                            
                        </th>
                        <th class="font-semibold text-sm text-center  px-6 py-4">
                            Nom (unique)
                        </th>
                        <th class="font-semibold text-sm text-center uppercase px-6 py-4">
                            Type
                        </th>
                        <th class="font-semibold text-sm text-center uppercase px-6 py-4 ">
                            Description
                        </th>
                        <th class="font-semibold text-sm  uppercase px-6 py-4 ">
                            Actif
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                {% for data in data['meta_fields'] %}
                    <tr class="{% if loop.index % 2 == 0 %}bg-gray-100{% endif %}" id="eq{{ data["id"] }}">
                        {% include 'one_meta.twig' with {'data': data} %}
                    </tr>
                {% endfor %}    
                </tbody>
            </table>
        </div>
        <!-- Button -->
        <div class="mt-4  mx-auto w-full">
            <a href="edit_meta.php?metaid=-1&table={{ data['table_name'] }}" clas="mt-3 ">
                <button class="bg-blue-500 px-4 py-2   w-full font-semibold tracking-wider text-white inline-flex items-center justify-center space-x-2 rounded hover:bg-blue-600">
                    <span class="">
                        <svg class="h-8 w-8 bg-blue-500 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />  <line x1="12" y1="8" x2="12" y2="16" />  <line x1="8" y1="12" x2="16" y2="12" /></svg>
                    </span>
                    <span class="">
                        Ajouter un nouveau champ optionel
                    </span>
                </button>
            </a>
        </div>
        <!-- Button end -->
    </div>
    <!-- Form Gestion de la base end-->
   
