:root {
    --color-primary: #2428a8;
    --color-primary-darken: #1d2087;
    --color-primary-lighten: #9294d4;

    --color-secondary: #aa2c3f;
    --color-secondary-darken: #882433;
    --color-secondary-lighten: #d5969f;

    --body-text-color: #2428a8;
    --body-background-color: #eaf2e9;

    --header-text-color: #2428a8;
    --header-background-color: #ffffff;
}
