:root {
    --color-primary: #4b814d;
    --color-primary-darken: #3c683e;
    --color-primary-lighten: #a5c0a6;

    --color-secondary: #8a6c00;
    --color-secondary-darken: #6f5700;
    --color-secondary-lighten: #c5b680;

    --body-text-color: #173e0f;
    --body-background-color: #eaf2e9;

    --header-text-color: #173e0f;
    --header-background-color: #ffffff;

    --table-even-background-color: #d8e0d8;
    --table-selected-background-color: #ece6b2;
}
