{% extends "base.twig" %}

{% block title %}{{ projectName }} - About{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h1>{{ content['title'] }}</h1>
        {{ content['content']|raw }}
    </div>
{% endblock %}
