{% extends "base.twig" %}

{% block title %}{{ projectName }} - About{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="text-center text-6xl py-8">
            <div class="w-full text-secondary py-4" data-aos="fade-up" data-aos-delay="100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mx-auto" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"/>
                </svg>
            </div>
            <h1 data-aos="fade-up" data-aos-delay="200">{{ content['title'] }}</h1>
        </div>
        {% if content['template'] == "1" %}
            {% include 'layout/content-template-1.twig' with {'content': content} %}
        {% elseif content['template'] == "2" %}
            {% include 'layout/content-template-2.twig' with {'content': content} %}
        {% elseif content['template'] == "3" %}
            {% include 'layout/content-template-3.twig' with {'content': content} %}
        {% endif %}
    </div>
{% endblock %}
