<div class="container">
    <div>
        <div class="w-full">
            {{ content['image'] }}
        </div>
        <div class="w-full bg-white">
            {{ content['content']|raw }}
        </div>
    </div>
</div>
