{% extends "base.twig" %}

{% block title %}{{ projectName }} - Login{% endblock %}

{% block content %}
    <section id="page-login" class="w-full h-screen flex flex-col md:flex-row h-screen">
        <div class="bg-gray-200 flex flex-col justify-center items-center w-full md:w-6/12 shadow-lg p-12">
            <img src="{{ projectURL }}/{{ projectSlug }}/assets/img/logo.png" width="200"
                 alt="{{ projectName }}" class="mr-4"/>
        </div>
        <div class="bg-white flex flex-col justify-center items-center w-full md:w-6/12 shadow-lg p-12">
            <h1 class="text-3xl font-bold mb-2">LOGIN</h1>
            <div class="text-center">
                <form method="POST" class="login">
                    <input type="hidden" name="act" value="login"/>
                    <div class="mb-4 relative">
                        <input class="input border border-gray-400 appearance-none rounded w-full p-3 focus focus:border-primary focus:outline-none active:outline-none active:border-primary"
                               id="login" name="login" type="text" placeholder="Login" autofocus autocomplete="off">
                         </div>
                    <div class="mb-4 relative">
                        <input class="input border border-gray-400 appearance-none rounded w-full p-3 focus focus:border-primary focus:outline-none active:outline-none active:border-primary"
                               id="pass" name="pass" type="password" placeholder="Password" autofocus autocomplete="off">
                        </div>
                    <button class="bg-primary hover:bg-primary-dark text-white font-bold py-3 px-6 rounded">Sign In
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
