{% include 'header.twig' %}

{% if not basket %}
	{% include 'filter_table.twig' with {'values': values, 'metas':metas}%}
	<script type="text/javascript">
		$("#edit_form").validate();
	</script>
{% else %}
	<a href='download_basket.php' target='_blank'>Download Basket</a><br/>&nbsp;<br/>
{% endif %}

{% include 'record_table.twig' with {'data': data, 'metas':metas}%}

<script type="text/javascript">
	$("#edit_form").validate();
	function add_to_basket(rid){
		$.ajax
		    ({ 
		        url: 'add_to_basket.php',
		        data: "rid="+rid+"&act=add",
		        type: 'post',
		        success: function(result)
		        {
		            $('#b_'+rid+'_add').hide();
					$('#b_'+rid+'_rem').show();
		        }
		    });
	}
	function rem_from_basket(rid){
		$.ajax
		    ({ 
		        url: 'add_to_basket.php',
		        data: "rid="+rid+"&act=rem",
		        type: 'post',
		        success: function(result)
		        {
		            $('#b_'+rid+'_rem').hide();
					$('#b_'+rid+'_add').show();
		        }
		    });
	}
	function clear_elt(element_id){
		$('#'+element_id).val('');
	}
	$( function() {
		$( ".dp" ).datepicker({
				dateFormat: "dd/mm/yy",
			});
	  } );
</script>

{% include 'footer.twig' %}
