
<div class="rTableCell"><a href="edit_meta.php?metaid={{ data["id"] }}"><img src="img/editer.png" /></a></div>
<div class="rTableCell"><span class="field_name">{{ data["field_name"]}}</span></div>
<div class="rTableCell"><span class="type">{{ data["type"]}} </span></div>
<div class="rTableCell"><span class="label">{{ data["label"]}} </span></div>
<div class="rTableCell"><span class="active"><img src="img/{% if data["active"] == 0%}in{% endif %}active.png" /></span></div>